body {
    background: url("../img/journey-bg.png");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
.header {
    background-color: rgba(0,0,0,.4);
    color: #fff;
}

.header-logo {
    float: left;
    margin: 20px 0 20px 80px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.3s;
    cursor: pointer;
}
.header-logo:hover {
    color: #3cb878;
}

.header-login {
    float: right;
    margin: 24px 80px 24px 0;
    font-size: 14px;
}

.header-login-item {
    cursor: pointer;
    color: #3cb878;
    transition-duration: 0.3s;
}

.header-login-item:hover {
    border-bottom: 1px solid #3cb878;
}

.header-icons {
    float: right;
    margin: 20px;
}

.header-icon-calendar {
    display: inline-block;
    margin-right: 28px;
    width: 19px; height: 19px;
    background: url('../img/css_sprites.png') -40px -5px;
    transition-duration: 0.3s;
}

.header-icon-calendar:hover {
    background: url('../img/css_sprites.png') -69px -5px;
}
.header-icon-forum {
    display: inline-block;
    margin-right: 28px;
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -118px -5px;
    transition-duration: 0.3s;
}

.header-icon-forum:hover {
    background: url('../img/css_sprites.png') -156px -5px;
}
.header-icon-journey {
    display: inline-block;
    margin-right: 28px;
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -194px -5px;
    transition-duration: 0.3s;
}
.header-icon-journey:hover {
    background: url('../img/css_sprites.png') -224px -5px;
}

.login {
    display: inline-block;
    margin-top: calc(50vh - 280px); /*- за Вашим советом высчитал так*/
    width: 444px;
    background-color: #fff;
    border-radius: 10px;
}

.login-top {
    position: relative;
    width: 322px;
    margin: 20px auto;
}

.login-top:before {
    content: "";
    position: absolute;
    left: -61px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;

}

.login-top-text {
    float: left;
    font-size: 20px;
}
.login-top-link {
    float: right;
}

.login-social {
    width: 322px;
    margin: 15px auto;
}

.login-social-facebook {
    float:left;
    width: 150px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    background-color: #305db8;
    border-radius: 3px;
    padding-top: 12px;
    box-sizing: border-box;
    transition-duration: .5s;
}

.icon-facebook {
    display: inline-block;
    background: url('../img/css_sprites.png') -98px -5px;
    width: 20px;
    height: 20px;
    border-right: 1px solid #2b54a5;
    margin-right: 10px;
    vertical-align: middle;
}
.login-social-text {
    display: inline-block;
    vertical-align: middle;
}
.login-social-facebook:active, .login-social-facebook:hover {
    background-color: #264b96;
}

.login-social-google {
    float: right;
    width: 150px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    background-color: #df4a32;
    border-radius: 3px;
    padding-top: 12px;
    box-sizing: border-box;
    transition-duration: .5s;
}

.icon-google {
    display: inline-block;
    background: url('../img/css_sprites.png') -4px -2px;
    width: 34px;
    height: 20px;
    border-right: 1px solid #c8422d;
    margin-right: 10px;
    vertical-align: middle;
}

.login-social-google:active,.login-social-google:hover  {
    background-color: #c3412c;
}

.login-fieldset {
    width: 322px;
    margin: 15px auto;

}

.login-alt {
    color: rgba(0,0,0,0.4);
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
}

.login-alt:before,
.login-alt:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: rgba(0,0,0,0.4);
}
.login-alt:before {
    left: -10px;
    margin-left: -50%;
}
.login-alt:after {
    left: 10px;
    margin-right: -50%;
}

.login-input {
    width: 94%;
    margin-top: 15px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 36px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.login-input::placeholder {
    color: rgba(0,0,0,0.4);
}

.login-input:focus {
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
    outline: 0;
}

.login-button {
    width: 100%;
    padding: 17px;
    background-color: #3cb878;
    border: #3cb878;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    transition-duration: .5s;
}

.login-button:focus {
    background-color: #3cb878;
    outline: 0;

}
.login-button:hover, .login-button:active {
    background-color: #329a65;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
}

.login-checkbox {
    float: left;
    margin: 20px 0;
}

.login-check {
    display: none;
}

.login-check + .login-checkbox:before {
    content: '\2714';
    color: transparent;
    display: inline-block;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    font-size: 20px;
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}

.login-check:checked + .login-checkbox:before {
    color: #329a65;
}
.login-check:hover + .login-checkbox:hover {
    cursor: pointer;
}
.clearfix::after {
    content:'';
    display: block;
    clear: both;
}